# Exclude everything
/*

# Except for default project files
!NDIlib_Send_Video_and_Audio.sln
!.gitignore
!LICENSE
!README.md
!/Include
!/Lib
!NDIlib_Send_Video_and_Audio.vcxproj
!NDIlib_Send_Video_and_Audio.cpp
!NDIlib_Send_Video_and_Audio.vcxproj*

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
