# Exclude everything
/*

# Except for default project files
!AVTestSyncSuite.sln
!.gitignore
!LICENSE
!README.md
!/Include
!/Lib
!NDIlib_Send_Video_and_Audio.vcxproj
!SyncTestSend.cpp
!NDIlib_Send_Video_and_Audio.vcxproj*
!NDIlib_Recv_Framesync.vcxproj
!SyncTestReceive.cpp
!NDIlib_Recv_Framesync.vcxproj*
!/PixelFormatConfigs
!/ResolutionConfigs
!/Test.ps1
!*.cfg
!/SyncTestSend.vcxproj
!/SyncTestReceive.vcxproj
!/ImageExtractor

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
